<form class="row g-3"  (submit)="userSignIn()">
  <div class="col-md-2">
    <label for="inputEmail4" class="form-label">Login</label>
    <input
      type="text"
      [(ngModel)]="login"
      name="login"
      class="form-control"
      id="inputEmail4"
      placeholder="Enter login"
      required
    >
  </div>
  <div class="col-md-2">
    <label for="inputPassword4" class="form-label">Password</label>
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      class="form-control"
      id="inputPassword4"
      placeholder="Enter password"
      required
    >
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
